#main-content {
	background-color: #fff;
	border-radius: 10px;
	margin: 100px;
	padding: 40px 50px;
	width: auto;
	text-align: center;
	text-transform: uppercase;
	text-align: left;
	box-shadow: 5px 5px 23px 0 #aaa;
	-webkit-transition: all .3s ease; 
	transition: all .3s ease;
}

#main-content:hover {
	box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

#main-content input {
	border-radius: 5px;
	border: 2px solid #02b3e4;
	padding: 5px 10px;
}

#main-content button {
	text-align: center;
	border-radius: 5px;
	padding: 5px 20px;
	border: 2px solid #02b3e4;
	background-color: #fff;
	color: #02b3e4;
	font-size: 1.5em;
}

#main-content button:hover {
	background-color: #02b3e4;
	color: #fff;
}