
/*HEADER*/

#header-nav  {
	padding-bottom: 10px;
	background-color: #fff;
}

#logo-img {
	background: url(../images/logo.jpg);
	width: 80px;
	height: 60px;
	margin: 15px;
}

.navbar-brand {
	padding: 28px 25px 35px 15px;
}

.navbar-brand h1 {
	font-family: 'Montserrat';
	font-size: 1.4em;
	font-weight: bold;
	text-shadow: 0px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: -10px;
	color: green;
}


.navbar-brand > a:hover, .navbar-brand > a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 20px;
	font-size: 1.3em;
	text-align: center;
	text-transform: uppercase;
}

.drop {
	border-radius: 5px;
	border: 2px solid #02b3e4;
	margin: 5px 10px;
}

.drop:hover, .drop:focus {
	background-color: #02b3e4;
	color: #fff;
}

.dropdown-menu {
	background-color: #fff;
	border-radius: 10px;
}

#nav-list >li > a {
	text-align: center;
	color: #02b3e4;
	transform: perspective(1px) translateZ(0); /*for hover effect*/
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.5s;
}

#nav-list > li >a:hover {
	color: #fff;
	transform: scale(1.05);
}

#nav-list button {
	background-color: #fff;
	color: #02b3e4;
	padding: 10px;
	margin-top: -5px;
	margin-left: 5px;
	border-radius: 5px;
	border: 2px solid #02b3e4;
	transform: perspective(1px) translateZ(0); /*for hover effect*/
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.5s;
}

#nav-list button:hover {
	box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
	transform: scale(1.05);
	background-color: #02b3e4;
	color: #fff;
}



/*JUMBOTRON*/

#main-heading {
	padding: 10px;
	color: #fff;
	text-align: center;
}
.jumbotron {
	background: linear-gradient(160deg,#02cbba,#aa7efd);	
}

#heading-img {
	text-align: center;
	margin: -50px;
}

#offer-ride, #share-ride {
	background-color: #fff;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 40px 50px;
  width: auto;
  text-align: left;
  box-shadow: 5px 5px 23px 0 #aaa;
	-webkit-transition: all .3s ease; 
	transition: all .3s ease; 
}

#offer-ride:hover, #share-ride:hover {
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

#offer-ride-img {
	background: url(../images/peopleincar.jpg);
	width: 600px;
	height: 300px;
}

#share-ride-img {
	background: url(../images/share-ride.png);
	width: 600px;
	height: 300px;
	margin-left: 80px;
}


#offer-ride-detail, #share-ride-detail {
	margin-top: 80px;
	color: #02b3e4;
	font-size: 1.5em;
}

.button {
	background-color: #fff;
	border-radius: 20px;
	border: 2px solid #02b3e4;
	margin: 20px 10px;
	padding: 5px 20px;
	color: #02b3e4;
}

.button:hover{
	background-color: #02b3e4;
	color: #fff;
}

*FOOTER*/

footer {
	background-color: #edfafd;
	text-transform: uppercase;
	color: #7a97af;
	padding-bottom: 400px;
}


.footer-content {
	padding: 20px 0px 0px 40px;
	text-transform: uppercase;
	font-family: 'brandon-grotesque','Helvetica',sans-serif;
}


.footer-list ul {
	list-style-type: none;
	text-transform: uppercase;
	padding-left: 40px;
	font-size: 1.1em;
}

.footer-list li {
	padding: 5px;
}

.footer-list i {
	padding-right: 20px;
	font-size: 1.5em;
}

.footer-list a:hover {
	text-decoration: none;
}

.span {
	color: #337ab7;
}

/*FOOTER*/